{% extends "layout.njk" %}

{% block content %}

<section class="product-single container">

  <div class="gallery">
    <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" >

  </div>

  <div class="info">
    <h1>Computador</h1>

    <div class="published">
      Publicado 15/06 às 10:37h 
    </div>

    <div class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt est fuga dignissimos ad quo dolorem possimus officia voluptate? Tempora repudiandae officiis, aperiam molestias doloremque saepe nesciunt cumque voluptatibus eum maxime.
    </div>

    <div class="price-buy">
      <div class="price">
        R$ 100,00 

        <span class="old">
          R$ 150,00
        </span>
      </div>

      <div class="buy">
        <button class="button">Comprar</button>
      </div>


    </div>
  </div>

</section>


{% endblock content %}