.card {
  background-color: white;

  padding: 32px 24px;
  margin: 32px auto;

  box-shadow: 0px 4px 8px -4px rgba(0,0,0, .6);

  width: 90%;
}

.card-header h3 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  font-weight: bold;
  color: var(--primary-color);

  margin-bottom: 16px;
}

/* menu */ 
header div.container {
  grid-template-columns: 254px auto 342px;
  grid-gap: 8px;
}

li.cart a {
  position: relative;
}

li.cart a span {
  background-color: tomato;
  border-radius: 50%;

  width: 20px;
  height: 20px;

  font-size: 12px;
  font-weight: bold;

  position: absolute;
  top: 16px;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

li.cart a:hover span {
  background-color: white;
  color: black;
}