<!DOCTYPE html>
<html lang="pt-BR">
<head>
    
    {% block head %}
        <title>LuStore</title>
        <link rel="shortcut icon" href="https://cdn.icon-icons.com/icons2/1526/PNG/512/shop_106574.png">
    {% endblock %}

    {% include "parts/styles.njk" %}

</head>

<body>
    {% include "parts/messages.njk" %}

    {% include "parts/header.njk" %}

    {% block content %}{% endblock %}

    {% include "parts/footer.njk" %}

</body>
</html>