<!DOCTYPE html>
<html lang="pt-BR">
<head>
    
    {% block head %}
        <title>LuStore</title>
    {% endblock %}

    {% include "parts/styles.njk" %}

</head>

<body>
    {% include "parts/messages.njk" %}

    {% include "parts/header.njk" %}

    {% block content %}{% endblock %}

    {% include "parts/footer.njk" %}

</body>
</html>